*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;

}
.container{
    margin: 0 auto;
    width: 90%;
    
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 12px;
}

.grid-container img, .grid-container video{
    width: 100%;
}
header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: lightslategray;
}

@media(max-width:320px){
    body{
        background-color: orange;
    }
    .grid-container{
        grid-template-columns: 1fr 1fr;
    }
}